<h1>My to do list</h1>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <% if task.done %>
        <i class="fa fa-check"></i>
      <%elsif %>
        <i class="fa fa-times"></i>
      <% end %>
      <%=task.name%>
      <%= link_to "View",task_path(task)%>
      <%= link_to "Edit",edit_task_path(task)%>
      <%= link_to "Delete",task_path(task), method: :delete%>
    </li>
  <% end %>
</ul>
<%= link_to "Add a new task", new_task_path %>
